body {background-color:teal  
  }

h1 {
    color:black;
    text-align:center
  }

h2 {
    color:rgb(104, 58, 58);
    text-align:left
  }

p{
    color:black;
    text-align:center;
  }
  
#headerMain {
    width:920px;
    height: 220px;
    margin:0px auto;
    z-index:0;
  }
   
#header {
    width:920px;
    height: 220px;
    position: fixed;
    z-index: 9999;
  }

.content1{
  width: 1000px;
  display: inline-block;
  height: 300px;
  background: #3ca523;
  margin: 0 auto;
  margin-right: -20%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.content2{
  margin: 0 auto;
  float: right;
  display: inline-block;
}

.foto{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.table {
  margin: 0 auto; /* Выравниваем таблицу по центру окна  */
 }

td {
  text-align: center; /* Выравниваем текст по центру ячейки */
}

#container {
  margin: 0 auto;
  width:  400px;
}

 
 .contentDIV {
  width: 400px;
  display: inline-block;
  height: 400px;
  background: #5742cf;
  margin: left;
  text-align: left;
  }

  .contentDIV p{
   text-align: left;
  }

 .contentDIV .contentDIV2 {
  width: 200px;
  height: 200px;
  background: #8f2778;
  margin: left;
  position: relative; 
  left: 200px; 
  top : -50px;
}

.contentDIV .contentDIV2n {
  width: 200px;
  height: 200px;
  background: #8f2778;
  margin: left;
  position: relative; 
  left: 200px; 
  top : -65px;
 }

 .contentDIV .contentDIV2 .contentDIV3 {
  width: 100px;
  height: 100px;
  background: #3ca523;
}

.contentDIV .contentDIV2n .contentDIV3{
  width: 100px;
  height: 100px;
  background: #b9c425;
}

.contentDIV .contentDIV2 .contentDIV3 p {
  font-family: 'Times New Roman', serif;
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic
}

.contentDIV .contentDIV2n .contentDIV3 p{
  font-family:  'Arial', serif;
  color:green;
  font-weight: bold;
}